@import "../../styles/base.scss";
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%
}
.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid $primaryBlue;
  height: 7vh;
  margin: 0 8em;
}
.header-logo img {
  width: 243px;
  height: 35px;
  padding: 18px 0;
  background: url(../../img/carddex_logo.png) no-repeat;
}
.base-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 49em;
  width: 100%;
  background: $white;
  //margin: 2em 0;
}
.main-paragraph {
  display: flex;
  flex-direction: column;
  width: 35%;
  align-self: flex-start;
  margin-top: 6vh;
  margin-left: 2em;
}
.main-paragraph > * {
  margin: 8px 0;
}
//.demo {
//  font-size: 14px;
//  margin-top: -0.25rem;
//  text-align: center;
//  width: 300px;
//  line-height: 1.25rem;
//}
.code-mail {
  font-family: $code;
  &:hover {
    cursor: pointer;
    color: $primaryBlue;
  }
}
.auth-form {
  width: 400px;
  background-color: $white;
  border: 1px solid $gray;
  padding: 2rem;
  margin-top: 25em;
  font-size: 5px;
}
//.auth-group {
//margin-bottom: 1em;
//}
.auth-label {
  //width: 80%;
  padding-right: 1em;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  font-size: 11px;
  color: $darkGray;
  font-family: $code;
}
.auth-input {
  background-color: $lighterGray;
  border: 1px solid lightgrey;
  border-radius: 2px;
  height: 2em;
  width: 100%;
  //line-height: 1.5em;
  outline: 0;
  transition: all 0.25s ease 0s;
  //font-size: 14px;
  padding: 0 0.5rem;
  &:hover {
    border-color: $gray;
    transition: all 0.25s ease 0s;
  }
  &:focus {
    border-color: $primaryBlue;
    transition: all 0.25s ease 0s;
  }
}
.auth-error {
  margin-top: 0.2rem;
  color: $red;
  font-family: $code;
  font-size: 10px;
}
.auth-button {
  height: 40px;
  margin-top: 1rem;
  color: #ffffff;
  background-color: $primaryBlue;
  border-color: $primaryBlue;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  font-family: $code;
  transition: all 0.25s ease 0s;
  &:hover {
    background-color: $hoverBlue;
    border-color: $hoverBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
}
//.bottom-group {
//display: flex;
//justify-content: space-between;
//margin-bottom: 2rem;
//}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: Montserrat;
 // border-top: 1px solid lightgrey;
  background-color: #28343F;;
  height: 12vh;
}
.footer-copy h1 {
  font-size: 14px;
  color: #ffffff;
  font-weight: 100;
}
.footer-copy p {
  font-size: 12px;
  color: #8B9298;
}
.footer-phone {
  display: flex;
  flex-direction: column;
}
.footer-phone h1 {
  font-size: 15px;
  font-weight: 100;
  color: #ffffff;
}
.footer-phone img {
  background: url(../../img/call.png) no-repeat;
  width: 29.97px;
  height: 31px;
}
.footer-email {
  display: flex;
  flex-direction: row;
  //width: 150px;
  background: url(../../img/email.png) no-repeat;
}
.footer-email img {
  width: 30.94px;
  height: 32px;
}
.footer-email h1 {
  font-size: 15px;
  color: #ffffff;
  font-weight: 100;
}
.link-login {
  //background-color: $lighterGray;
  color: $darkGray;
  text-decoration: none;
  font-family: $code;
  transition: all 0.25s ease 0s;
  //border-bottom: 1.5px solid $primaryBlue;
  margin-right: 1em;
  font-size: 15px;
  padding: 3px;
  //line-height: 5px;
  &:hover {
    color: $primaryBlue;
    transform: translateY(-2.5px);
    transition: all 0.25s ease 0s;
  }
}
.link-register {
  //background-color: $lighterGray;
  color: $darkGray;
  text-decoration: none;
  font-family: $code;
  transition: all 0.25s ease 0s;
  //border-bottom: 1.5px solid $primaryBlue;
  margin-right: 1em;
  font-size: 15px;
  padding: 3px;
  //line-height: 5px;
  &:hover {
    color: $primaryBlue;
    transform: translateY(-2.5px);
    transition: all 0.25s ease 0s;
  }
}
.active {
  border-bottom: 1px solid $primaryBlue;
}

@media (max-width: 800px) {
  .bottom-group {
    flex-direction: column;
    padding-left: 0px;
  }
  .link {
    margin: 0.25rem 0;
  }
  .auth-form {
    width: 80%;
  }
  .bottom-group {
    text-align: center;
  }
}
@media (max-width: 550px) {
  .base-wrapper {
    background-size: cover;
  }
}